.spots-all-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 70px;
}

.delete-spot {
  border: none;
  background-color: rgba(255, 0, 0, 1);
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}
.update-spot {
  border: none;
  background-color: rgba(0, 0, 255, 1);
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  margin-left: 20px;
}
