.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.logo {
  font-size: 2em;
  color: rgb(15, 56, 6);
}

.logo span {
  color: rgba(0, 197, 133, 1);
}

.logo-link {
  text-decoration: none;
}

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.nav-links {
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 197, 133, 0);
  animation-timing-function: ease-in;
  color: black;
  font-size: 1.1em;
}

.nav-links:hover {
  border-bottom: 2px solid rgba(0, 197, 133, 1);
}

.nav-profile-container {
  display: relative;
}

.profile-dropdown {
  position: absolute;
  margin-top: 3px;
  right: 50px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.profile-dropdown li {
  padding: 5px;
}

.nav-profile-btn {
  border: none;
  /* color: rgba(0, 197, 133, 1); */
  color: rgb(15, 56, 6);
  padding: 12px;
  border-radius: 50px;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: 600;
}

.nav-logout {
  border: none;
  background-color: rgba(0, 197, 133, 1);
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.nav-profile-btn:hover {
  color: rgba(0, 197, 133, 1);
}
